.label-bold {
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-font-size: 14px;
}

.primary-button:hover {
    -fx-background-color: #45a049;
}

.secondary-button {
    -fx-background-color: #E53935;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-font-size: 14px;
}

.secondary-button:hover {
    -fx-background-color: #c62828;
}
